# IDE
.vscode
.idea
.vs

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.local

# Jupyter
.ipynb_checkpoints/
.ip*

# Windows
Thumbs.db
Desktop.ini
x64/
Debug/
Release/
*.ilk
*.pdb
*.exe.recipe
*.deps
*.obj.enc

# OS
.DS_Store
